RestaurantService/RestaurantService/Service References/TokenService/TokenService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62433/WcfService/TokenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TokenService.WcfService" />
  <xs:element name="createTokenForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTokenForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TokenService.WcfService" minOccurs="0" name="createTokenForUserResult" nillable="true" type="q1:TokenObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findUserToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findUserTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TokenService.WcfService" minOccurs="0" name="findUserTokenResult" nillable="true" type="q2:TokenObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>